name: Generate Pac-Man Contributions

on:
  schedule:
    # Chạy tự động mỗi 24h
    - cron: "0 */24 * * *"
  workflow_dispatch: # Cho phép chạy thủ công
  push:
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      # 1️⃣ Checkout code
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2️⃣ Generate Pac-Man SVG
      - name: Generate pacman-contribution-graph.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}

      # 3️⃣ Push to output branch (GitHub Pages)
      - name: Push pacman SVG to output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
